<!DOCTYPE html>
<html>
<head>
  <title>AwsTickwork</title>
  <%= stylesheet_link_tag    "aws_tickwork/application", media: "all" %>
  <%= javascript_include_tag "aws_tickwork/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
